@font-face {
  font-family: 'Roboto Bold';
  src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
}

.header__block_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 744px;
  background-image: url('assets/images/header-bg-image.png');
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.header__block_title {
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  left: 40px;
  font-family: Roboto Bold;
  border: 2px solid #FFF;
  padding: 5px;
}

.header__block_header {
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 135px;
}

.header__block_menu-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__block_menu-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  height: 100%;
}

.header__block_menu-list-item {
  list-style-type: none;
}

.header__block_menu__link {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto Regular;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.header__block_menu__link.active {
  opacity: 1;
  text-decoration: underline;
}

.header__block_menu__link-left {
  margin-left: 85px;
}

.header__block_menu__link-right {
  margin-right: 85px;
}

.header__block_logo {
  margin: auto 100px;
}

.first_block_title {
  font-family: Roboto Bold;
  font-style: normal;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.first_block_text {
  color: #FFF;
  font-family: Roboto Regular;
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.btn-main {
  height: 46px;
  width: 184px;
  background-color: #00AFDB;
  font-family: Roboto Bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  border: none;
}

.btn-main:hover {
  height: 46px;
  width: 184px;
  background-color: #009CC2;
  cursor: pointer;
}

.first_block_btn-main {
  margin-bottom: 183px;
}

.first_block_social-links {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.first_block_social-link-icon:hover {
  transform: scale(1.1);
}

.main__content_section {
}

.rappresent__content_article,
.implement__content_article {
  display: flex;
  align-items: center;
  height: 842px;
  background-color: #FFF;
}

.rappresent__content_block {
  height: 233px;
  width: 407px;
  margin: 295px 248px 314px 269px;
}

.rappresent__content_title,
.implement__content_title {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: Roboto Bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.rappresent__content_text,
.implement__content_text {
  margin-bottom: 30px;
  margin-top: 0;
  font-family: Roboto Regular;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}

.rappresent__content_image,
.implement__content_image {
  height: 582px;
  width: 407px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.rappresent__content_image {
  margin: 120px auto 140px 0;
}

.rappresent__content_image img,
.implement__content_image img {
    min-width: 100%;
    min-height: 100%;
}

.our-community__content_article {
  background-color: #F5F6F7;
  height: 504px;
  overflow: hidden;
}

.our-community__content_block {
  display: flex;
}

.our-community__content_user-card {
  height: 175px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 155px 139px 174px 269px;
  flex-shrink: 0;
}

.our-community__content_user-card_image {
  height: 45px;
  width: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.our-community__content_user-card_image img {
  min-width: 100%;
  min-height: 100%;
}

.our-community__content_user-card_title {
  font-family: Roboto Medium;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
  margin: 20px 0 10px 0;
}

.our-community__content_user-card_text {
  font-family: Roboto Regular;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4E4E4E;
  margin: 0;
  padding: 0;
}

.our-community__content_image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83px;
  height: 18px;
  margin: 82px 269px 20px 542px;
}

.slider__nav_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37px;
}

.slider__nav_arrow {
  display: flex;
  align-items: center;
}

.slider__nav_arrow:hover {
  opacity: 0.5;
}

.slider__nav_pagination-page {
  font-family: Roboto Regular;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #373737;
}

.slider__items {
  display: flex;
  height: 244px;
  flex-shrink: 0;
}

slider__items_image-container {
  width: 407px;
}

.slider__items_image-container img {
  margin-right: 30px;
}

.implement__content_image {
  margin: 120px 139px 140px 269px;
}

.implement__content_block {
  height: 184px;
  width: 407px;
  margin: 319px 0 339px 0;
}
