@font-face {
  font-family: 'Roboto Bold';
  src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
}

.header__block_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 744px;
  background-image: url('assets/images/header-bg-image.png');
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.header__block_title {
  color: #FFF;
  text-transform: uppercase;
  position: fixed;
  left: 40px;
  font-family: Roboto Bold;
  border: 2px solid #FFF;
  padding: 5px;
}

.header__block_header {
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 135px;
}

.header__block_menu-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__block_menu-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  height: 100%;
}

.header__block_menu-list-item {
  list-style-type: none;
}

.header__block_menu__link {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.header__block_menu__link.active {
  opacity: 1;
  text-decoration: underline;
}

.header__block_menu__link-left {
  margin-left: 85px;
}

.header__block_menu__link-right {
  margin-right: 85px;
}

.header__block_logo {
  margin: auto 100px;
}

.first_block_title {
  font-family: Roboto Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.first_block_text {
  color: #FFF;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.btn-main {
  height: 46px;
  width: 184px;
  background-color: #00AFDB;
  font-family: Roboto Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  margin-bottom: 183px;
}

.btn-main:hover {
  height: 46px;
  width: 184px;
  background-color: #009CC2;
  cursor: pointer;
}

.first_block_social-links {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.first_block_social-link-icon:hover {
  transform: scale(1.1);
}

